.level2 h1 { font-size: 2.0em; }
.reveal pre code {
	padding: 0;
}


.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.0);
  border: 0px solid #eeeeee;
}

.reveal table thead th {
	font-weight: 700;
}
.reveal table {
	display: inline-block;
	text-align: center;
}
.reveal pre {
	background: rgb(25,40,25);
}
