_includes/
_layouts/
_site/
.dexy
.DS_Store
.ipynb_checkpoints
.jekyll-cache
.sconsign.dblite
.vscode
*.pyc
*.swp
a.out
ch02git/learning_git/
ch02git/somefile.md
ch03tests/diffusion/
ch04packaging/greeter.py
ch04packaging/greetings/build/
ch04packaging/greetings/dist/
ch04packaging/greetings/doc/.doctrees
ch04packaging/greetings/Greetings.egg-info/
combined_files/
combined.ipynb
css/
favicon-144.png
favicon-152.png
favicon.ico
html/assets/callgrind.png
html/assets/coverage.png
html/assets/jenkins.png
html/index.html
html/reveal/assets/callgrind.png
html/reveal/assets/coverage.png
html/reveal/assets/jenkins.png
html/reveal/assets/night-ucl-overlay.css
html/reveal/assets/solarized-ucl-overlay.css
html/reveal/assets/solarized.css
html/reveal/index.html
images/
indigo
indigo-jekyll-master/
jekyll.html
js/
master.zip
notebooks.zip
notes.pdf
notes.tex
output
output-site
pdf
session*/*.html
session*/*.nbconvert.ipynb
session*/*.v2.ipynb
session01/analyzer.py
session01/eight
session01/eight.py
session01/module1/
session01/pretty.py
session04/greeter.py
session04/greetings/doc/
session04/greetings/Greetings.egg-info/
session04/greetings/scripts/
session04/map.png
session04/midvals.yaml
session05/anotherfile.py
session05/config.yaml
session05/context.py
session06/fixed.png
session07/datasource2.yaml
session07/datasource3.yaml
session07/example.yaml
tdd.png
