.dexy
output-site
output
_site/
.sconsign.dblite
html/index.html
pdf
*.pyc
*.swp
a.out
html/reveal/.DS_Store
html/reveal/assets/night-ucl-overlay.css
html/reveal/assets/solarized-ucl-overlay.css
html/reveal/assets/solarized.css
html/reveal/index.html
jekyll.html
html/assets/callgrind.png
html/assets/coverage.png
html/assets/jenkins.png
html/reveal/assets/callgrind.png
html/reveal/assets/coverage.png
html/reveal/assets/jenkins.png
tdd.png
.ipynb_checkpoints
session01/analyzer.py
session01/eight
session01/eight.py
session01/module1/
session01/pretty.py
combined.ipynb
combined_files/
notebooks.zip
notes.pdf
notes.tex
session04/greeter.py
session04/map.png
session04/midvals.yaml
session05/anotherfile.py
session05/config.yaml
session05/context.py
session06/fixed.png
session07/datasource2.yaml
session07/datasource3.yaml
session07/example.yaml
session*/*.v2.ipynb
session*/*.nbconvert.ipynb
session*/*.html
_includes/
_layouts/
css/
favicon-144.png
favicon-152.png
favicon.ico
images/
indigo
indigo-jekyll-master/
js/
master.zip
session04/greetings/Greetings.egg-info/
session04/greetings/doc/
session04/greetings/scripts/
