_build/
.DS_Store
.ipynb_checkpoints
.python-version
.vscode
**/__pycache__
ch*/*.pyc
ch01data/boids_1.mp4
ch01python/analyzer.py
ch01python/eight
ch01python/eight.py
ch01python/pretty.py
ch02git/learning_git/
ch02git/somefile.md
ch03tests/diffusion/htmlcov
ch03tests/diffusion/.coverage
ch03tests/energy_example.py
ch03tests/DiffusionExample/.pytest_cache
ch03tests/saskatchewan/
ch04packaging/.pytest_cache
ch04packaging/greeter.py
ch04packaging/greetings/dist/Greetings*.egg
ch04packaging/greetings/doc/output/
ch04packaging/map.png
ch05construction/anotherfile.py
ch05construction/config.yaml
ch05construction/context.py
ch06design/fixed.png
ch07dry/*.yaml
ch09fileformats/*.csv
ch09fileformats/*.db
ch09fileformats/*.hdf5
ch09fileformats/*.mko
ch09fileformats/*.mol
ch09fileformats/*.out
ch09fileformats/*.py
ch09fileformats/*.tex
ch09fileformats/*.ttl
ch09fileformats/*.xml
ch09fileformats/*.xsd
ch09fileformats/*.xsl
index.md
