dist: bionic
sudo: required
language: python
python:
- '3.8'
cache:
- pip
- apt
addons:
  apt:
    packages:
    - pandoc
    - texlive-latex-base
    - texlive-latex-extra
    - tree
    - texlive-fonts-recommended
    - texlive-latex-recommended
    - texlive-generic-recommended
    - texlive-generic-extra
    - texlive-xetex
    - lmodern
deploy:
  provider: pages
  skip-cleanup: true
  github-token: "$GITHUB_TOKEN"
  email: hut23@turing.ac.uk
  keep-history: true
  local-dir: _site
  verbose: true
  on:
    branch: master
install:
- pip install --upgrade setuptools wheel
- pip install -r requirements.txt
- pip install git+https://github.com/jamespjh/greeter.git
- pip install git+https://github.com/jakevdp/JSAnimation.git
- gem install liquid -v 4.0.3 # Version from https://pages.github.com/versions/
- gem install jekyll -v 3.9.0 # Version from https://pages.github.com/versions/
- gem install redcarpet
script:
- python -c "import matplotlib.pyplot"
- make
before_install:
- sudo add-apt-repository -y ppa:mc3man/bionic-media
- sudo apt-get -y update
- sudo apt-get -y install ffmpeg
