ipython
jupyter
numpy
scipy
pandas
nose
mako
cython
pyzmq
matplotlib
geopy
matplotlib-venn
pypng
sphinx
numpydoc
requests
pyyaml
pytest-cov
coverage
nbformat
imageio
h5py
ply
mako
lxml
rdflib
sqlalchemy
geopy
webcolors
jsanimation
scikit-learn
pycodestyle
pylint
line_profiler
