ipython<7
jupyter
numpy
scipy
pandas
nose
mako
cython
pyzmq
matplotlib>=2.1
geopy
matplotlib-venn
pypng
sphinx
numpydoc
requests
pyyaml
pytest-cov
coverage
imageio
pycodestyle
pylint
webcolors
line_profiler
