Cython==0.29.24
geopy==2.2.0
h5py==3.5.0
imageio==2.10.1
ipython==7.31.1
jupyter-book==0.12.0
line-profiler==3.3.1
lxml==4.6.5
Mako==1.1.5
matplotlib==3.4.3
nose==1.3.7
numpy==1.21.1
numpydoc==1.1.0
pandas==1.1.5
ply==3.11
pycodestyle==2.8.0
pylint==2.11.1
pyppeteer==0.2.6
pytest==6.2.5
pytest-cov==3.0.0
PyYAML==6.0
rdflib==6.0.2
requests==2.26.0
scikit-learn==1.0.1
scipy==1.6.1
SQLAlchemy==1.4.26
webcolors==1.11.1
