.re-profile-image {
  background-size: cover;
  float:right;
  width: 200px;
  height: 200px;
  border-radius: 25px;

}

div.topbox { filter: hue-rotate(190deg);}

.entry-content h3 {
  font-size: 16px;
}
