<?xml version="1.0" encoding="UTF-8"?>
<r:system xmlns:r="http://www.hep.ucl.ac.uk/cdt-dis/schema/reaction">
    <r:reaction>
        <r:reactants>
            <r:molecule stoichiometry="2">
                    <r:element symbol="H" number="2"/>
            </r:molecule>
            <r:molecule stoichiometry="1">
                    <r:element symbol="O" number="2"/>
            </r:molecule>
        </r:reactants>
        <r:products>
            <r:molecule stoichiometry="2">
                    <r:element symbol="H" number="2"/>
                    <r:element symbol="O" number="1"/>
            </r:molecule>
        </r:products>
    </r:reaction>
</r:system>
